body {
    background-color: #252525; /* Dark grey background */
    color: black; /* White text color */
}

.app-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; /* Horizontally center for its content */
    min-height: 100vh; /* Full height of the viewport */
    width: 450px; /* Width of common mobile devices */
    margin: 0 auto; /* Center the container horizontally */
    background-color: #fff47f;
}


.header{ 
    margin-top: 10vh;
    font-size: xx-large;
}

.intro {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.stylish-button {
    width: 250px;
    height: 80px;
    margin-top: 2vh;
    font-size: 20px; /* Adjusts the text size */
    color: black; /* Text color */
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    border: 2px solid white; /* White border */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-align: center; /* Ensures text is centered */
    display: inline-block; /* Allows width and height to be set */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.stylish-button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Changes background on hover */
}


#gomokuBoard {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 0px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #f3d200;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3d200;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
