<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MaGomoku</title>
        {% load static %}
        <link href="{% static 'game/style.css' %}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
        <script src="{% static 'game/main.js' %}" type="text/javascript"></script>
    </head>

    <body>
        <div class="app-container">
            <div class="header" id="id_header_div">
                <div class="header-text">
                    Play MaGomoku
                </div>
                <div class="navigation-bar">
                    {% block navigation-bar %}
                    {% endblock %}
                </div>
            </div>
            <div>
                <span id="game-message">Start Playing!</span>
            </div>
            <div id="gomokuBoard"></div>


            {% comment %} <form action="{% url 'move' %}" method="get">
                <input type="text" name="x" placeholder="Enter X value">
                <input type="text" name="y" placeholder="Enter Y value">
                <button type="submit">Move Piece</button>
            </form>
             {% endcomment %}
            
            <div class="page-title">
                {% block page-name %}
                {% endblock %}
            </div>
    
            <span id="error" class="error"></span>
    
            <div class="main-page">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script>
            window.setInterval(fetchMoveAndUpdateBoard, 1000);
        </script>
    </body>
</html>